<!DOCTYPE html>
<html>
  <head>
    <title>🚧 Under Construction 🚧</title>
    <style>
      body {
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        gap: 12px;
      }
      .title {
        font-size: 3em;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <span class="title">🚧 Under Construction 🚧</span>
    <span class="subtitle">This page isn't ready yet!</span>
    <a href="{{.BackURL}}">Go back ⮌</a>
  </body>
</html>
